<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Guests list</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<hr/>
		<h2>Guests:</h2>
		<div id="guestsList">
		    <table class="table table-hover">
		        <thead>
		        <tr>
		            <th>Name</th> <th>Mail</th> <th>Phone</th> <th></th>
		        </tr>
		        </thead>
		        <tr th:each="guest : ${guests}">
		            <td> <span th:text="${guest.name}"></span> </td>
		            <td> <span th:text="${guest.mail}"></span> </td>
		            <td> <span th:text="${guest.phone}"></span> </td>
		            <td>
		            	<form action="delete" method="post">
		            		<input type="hidden" th:attr="name='id'" th:value="${guest.id}"/>
						    <button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
		        </tr>
		    </table>
		</div>
		<br/>
		<hr/>
		<h2>Invite:</h2>
		<hr/>
		<form action="invite" method="post">
		    <div class="form-group">
		        <input type="text" class="form-control" id="name" name="name" placeholder="Name" />
		    </div>
		    <div class="form-group">
		        <input type="email" class="form-control" id="mail" name="mail" placeholder="Mail" />
		    </div>
		    <div class="form-group">
		        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" />
		    </div>
		    <button type="submit" class="btn btn-success">Send</button>
		</form>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>